/* universal selector */

* {
  color: grey;
}

/* typed selector */

h1 {
  color: turquoise;
}

/* class selector */

.para {
  color: gold;
}

.bgcolor {
  background-color: grey;
}

/* id selector */

#firstpara {
  color: violet;
}
