* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Position :
static => default position property
fixed 
relative
absolute
inherit

*/
h1 {
  background: beige;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.boxes {
  width: 100%;
  background: antiquewhite;
  text-align: center;
  padding: 10px;
}

.box {
  width: 50%;
  padding: 30px;
  margin: 0 auto;
}
.box1 {
  background: red;
}

.box2 {
  background: green;
  position: absolute;
  top: 10;
  right: 10;
}

.box3 {
  background: blue;
}
.dummy {
  height: 1000px;
}
