@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold; /*100 - 900, bolder, bold, lighter,l ight*/
  font-size: 30px;
  text-shadow: 2px 3px 5px black; /*x y blur color*/
  text-transform: uppercase; /*capitalized uppercase lowercase*/
}

p {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 3px;
  text-indent: 30px; /*tab space*/
  text-align: justify; /*left right center justify*/
  text-decoration: none; /*underline, line-through*/
  color: rgba(0, 0, 255, 0.8);
}

/*colors:
use color name

rgb(255, 255, 255) ==> min 0 max 255
rgba(200,50,60,0.8) red green blue alpha, alpha ranges from 0 to 1
hexadecimal => #ffffff
*/
