* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: grey;
  width: 100%;
  padding: 10px;
  /* text-align: center; */
}
li {
  display: inline;
  list-style: none; /*circle disc square*/
  padding: 0px 5px;
}
li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  letter-spacing: 0.2rem;
}
/* 
.hamburger {
  display: none;
} */
.right {
  float: right;
}

.nav li.hamburger {
  display: none;
}
