.bg {
  background-color: #943094;
}

.bgimage {
  background-image: url("../../HTML/media/Lighthouse.jpg");
  background-repeat: no-repeat; /*repeat-x repeat-y*/
  background-position: center; /*right left top bottom*/
  background-size: cover;
}
